{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "sourceType": "unambiguous" //目的是让babel明确区分ES6导入导出方式与common.js导入导出方式
}